<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>vee</title>
		<link rel="stylesheet" href="../assets/style.css" />

		<script src="../assets/vue.js"></script>
		<script src="../vee.js"></script>
	</head>
	<body>
		<header id="header">
			<div id="lineWrap">
				<span id="lineDetails">L {{ lineNumber }}, C {{ column }}</span>
			</div>
			<span class="file">{{getViewFile(getSelected())}}</span>
			<span class="dir">{{getViewDir(getSelected())}}</span>
			<ul id="select">
				<li v-for="file in files" v-bind:id="file.id" v-on:click="fileClick(file)" :class="file.selected ? 'selected' : ''">
					<span class="file">{{getViewFile(file)}}</span>
					<span class="dir">{{getViewDir(file)}}</span>
				</li>
			</ul>
		</header>
		<div id="editorWrap">
			<div id="editor"></div>
		</div>
	</body>
</html>